#container {
	margin: 0em auto;
	width: 100%;
	text-align: left;
	border: 1px solid #676767;
	border-radius: 8px;
	margin-bottom:10px;
	position: relative;
	
	}  
		
#centro {
width:100%;
height:149px;
position:absolute;
margin-top:0px;
margin-left:0px;
border-radius: 8px;
}
#formulario{
padding: 30px 40px 40px 0px;
font-weight: bold;
  font-family: arial;
  font-size: 18px;
  margin-top: 50px;
   line-height:200%;
  text-align: center;
  }
#formulario td{
padding:4px;

  }
#menu-bar {
  width: 99%;
  margin: 0px 0px 0px 0px;
  padding: 6px 6px 4px 6px;
  height: 30px;
  line-height: 100%;
  border-radius: 8px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow: 1px 3px 3px #666666;
  -webkit-box-shadow: 1px 3px 3px #666666;
  -moz-box-shadow: 1px 3px 3px #666666;
  background: #E83131;
  background: linear-gradient(top,  #1414B8,  #FF0000);
  background: -ms-linear-gradient(top,  #1414B8,  #FF0000);
  background: -webkit-gradient(linear, left top, left bottom, from(#1414B8), to(#FF0000));
  background: -moz-linear-gradient(top,  #1414B8,  #FF0000);
  border: solid 2px #6D6D6D;
  position:relative;
  z-index:999;
}
#menu-bar li {
  margin: 0px 0px 6px 0px;
  padding: 0px 8px 0px 6px;
  float: left;
  position: relative;
  list-style: none;
}
#menu-bar a {
  font-weight: bold;
  font-family: arial;
  font-style: normal;
  font-size: 15px;
  color: #F5F3F0;
  text-decoration: none;
  display: block;
  padding: 6px 20px 6px 20px;
  margin: 0;
  margin-bottom: 6px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  text-shadow: 2px 2px 3px #000000;
}
#menu-bar li ul li a {
  margin: 0;
}
#menu-bar .active a, #menu-bar li:hover > a {
  background: #C9D3D4;
  background: linear-gradient(top,  #EBEBEB,  #A1A1A1);
  background: -ms-linear-gradient(top,  #EBEBEB,  #A1A1A1);
  background: -webkit-gradient(linear, left top, left bottom, from(#EBEBEB), to(#A1A1A1));
  background: -moz-linear-gradient(top,  #EBEBEB,  #A1A1A1);
  color: #444443;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  text-shadow: 0px 0px 0px #FFFFFF;
}
#menu-bar ul li:hover a, #menu-bar li:hover li a {
  background: none;
  border: none;
  color: #666;
  -box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
#menu-bar ul a:hover {
  background: #1717E6 !important;
  color: #FFFFFF !important;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  text-shadow: 0px 0px 0px #FFFFFF;
}
#menu-bar li:hover > ul {
  display: block;
}
#menu-bar ul {
  background: #61A3DD;
  display: none;
  margin: 0;
  padding: 0;
  width: 185px;
  position: absolute;
  top: 30px;
  left: 0;
  border: solid 1px #B4B4B4;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-box-shadow: 0px 0px 0px #222222;
  -moz-box-shadow: 0px 0px 0px #222222;
  box-shadow: 0px 0px 0px #222222;
}
#menu-bar ul li {
  float: none;
  margin: 0;
  padding: 0;
}
#menu-bar ul a {
  padding:10px 0px 10px 15px;
  color:#FFFEF5 !important;
  font-size:14px;
  font-style:normal;
  font-family:arial;
  font-weight: normal;
  text-shadow: 0px 0px 0px #FFFFFF;
}
#menu-bar ul li:first-child > a {
  border-top-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-right-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
}
#menu-bar ul li:last-child > a {
  border-bottom-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
}
#menu-bar:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#menu-bar {
  display: inline-block;
}
  html[xmlns] #menu-bar {
  display: block;
}
* html #menu-bar {
  height: 1%;
}
#meusarranchamentos {
	 padding: 5px 10px 50px 0px;
    margin:10px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size: 12px;
    border:1px solid blue;
    background-color:white;
	text-align: center;
   }
   #meusarranchamentos td {
	   text-align: center;
   }
#busca {
	padding: 50px 0px 0px 0px;
width:300px;
height:149px;
position:absolute;
margin-top:50px;
margin-left:400px;
border-radius: 8px;
  box-shadow: 1px 3px 3px #666666;
  -webkit-box-shadow: 1px 3px 3px #666666;
  -moz-box-shadow: 1px 3px 3px #666666;
  background: #E83131;
  background: linear-gradient(top,  #1E1EF7,  #EB2D4C);
  background: -ms-linear-gradient(top,  #1E1EF7,  #EB2D4C);
  background: -webkit-gradient(linear, left top, left bottom, from(#1E1EF7), to(#EB2D4C));
  background: -moz-linear-gradient(top,  #1E1EF7,  #EB2D4C);
  border: solid 2px #6D6D6D;
  position:relative;
  z-index:999;
}
  #despacho_esquerda {
	  	padding: 10px 0px 0px 0px;
width:250px;
height:390px;
position:absolute;
margin-top:0px;
margin-left:10px;
border-radius: 8px;
 background: white;
  border: solid 2px #6D6D6D;
  position:absolute;

  }
    #despacho_esquerda td {
	font-family:Verdana, Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size: 14px;
	color: red;

  }
  
    
   #despacho_centro {
	  	padding: 0px 0px 0px 0px;
		width:670px;
		height:400px;
		position:absolute;
		margin-top:0px;
		margin-left:265px;
		border-radius: 8px;
		background: #B9D3EE;
		border: solid 2px #6D6D6D;
		position:absolute;

  }
     #despacho_direita {
		 
	padding: 0px 0px 0px 0px;
	width:250px;
	height:400px;
	position:absolute;
	margin-top:0px;
	margin-left:940px;
	border-radius: 8px;
	background: white;
	border: solid 2px #6D6D6D;
	position:absolute;

  }
  
  #despacho_direita td {
	font-family:Verdana, Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size: 14px;
	

  }
   
       #despacho_lista {
		 
	padding: 10px 0px 100px 0px;
	width:1180px;
	position:absolute;
	margin-top:390px;
	margin-left:1px;
	border-radius: 8px;
	background: #E8E8E8;
    border: solid 2px #6D6D6D;
    position:absolute;

  }
   #despacho_lista td {
	font-family:Verdana, Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size: 14px;

  }
  
  
  select{
font-weight:bold;
font-style:italic;
font-family:Verdana;
font-size:12px;
color:green;
}
.redText {
    background-color:#F00;
}
.greenText {
    background-color:#0F0;
}
#imprime {
	 padding: 0px;
    margin:10px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size: 12px;
    border:1px solid blue;
    background-color:white;
	text-align: center;
   }
   imprime td{
	 padding: 0px;
    margin:10px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size: 12px;
    border:1px solid blue;
    background-color:white;
	text-align: center;
   }
#link a {
	padding:18px 18px 18px 18px;	
	list-style:none;
	 font-family:Verdana, Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size: 12px;
    border:1px solid blue;
   	text-align: center;
	margin-left:10px;
    border-radius: 8px;
    color: black;
}
#link a:hover  {
	color:white;
border-radius: 8px;
  box-shadow: 1px 3px 3px #666666;
  -webkit-box-shadow: 1px 3px 3px #666666;
  -moz-box-shadow: 1px 3px 3px #666666;
  background: #E83131;
  background: linear-gradient(top,  #1E1EF7,  #EB2D4C);
  background: -ms-linear-gradient(top,  #1E1EF7,  #EB2D4C);
  background: -webkit-gradient(linear, left top, left bottom, from(#1E1EF7), to(#EB2D4C));
  background: -moz-linear-gradient(top,  #1E1EF7,  #EB2D4C);
  border: solid 2px #6D6D6D;
  position:relative;
  z-index:999;
 
}
